* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 100px;
}

.conteudo {
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;

}

.texto {
width: 600px;

}


.logo {
  width: 400px;
  height: 300px;
  margin-top: 100px;
  margin-left: 80px;
}

h2 {
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
}

strong {
  color: rgb(255, 255, 255);
}

p {
  font-size: 16px;
  color: #ffffff;
}

.frase-impacto {
  font-size: 22px;
  font-weight: bold;
  color: #4a0072;
  text-align: center;
  font-style: italic;
  background: linear-gradient(90deg, #fce4ec, #ede7f6);
  padding: 20px 30px;
  margin: 40px auto;
  max-width: 700px;
  border-radius: 30px;
  box-shadow: 0 6px 20px rgba(138, 43, 226, 0.15);
  transition: all 0.3s ease;
}

.frase-impacto:hover {
  transform: scale(1.03);
  background: linear-gradient(90deg, #f8bbd0, #d1c4e9);
  color: #311b92;
}






button {
  background: linear-gradient(135deg, #ffffff, #eeeeee);
  color: #000000;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  padding: 12px 24px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background: linear-gradient(135deg, #6a1b9a, #8e24aa); /* cor estilo açaí */
  color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


.copinho {
  width: 150px;
  transition: 1s;
  margin: 10px;
}
.acai-banana {
  width: 500px;
  padding-left: 150px;

}
.copinho:hover {
  transform: translateY(-25px);
  cursor: pointer;

}
.caixa-starbucks {

width: 600px;
display: flex;
justify-content: flex-end;
margin-top: 250px;


}

.caixa-copinho {

  display: flex;
  justify-content: center;
}

.circulo{

  position: absolute;
  background-color: rgb(111, 9, 151);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: circle(600px at right 800px);
  z-index: -1;
  

}


body {
  background-image: url('./assets/colorido.png.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 100vh; /* garante altura mínima da tela */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

